html { 
  background: url(../images/startPageBackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#navbar {
	background-color: #515254;
	font-weight: bolder;
	padding: 5px; 
	border-radius: 8px;
}

.navbar-item {
	color: white;
	font-size: 16px;
}

#sixA {
	background-color: #3754ba; 
	color: white;
}
#sixB {
	background-color: #85c166;
	color: white;
}
#sevenA {
	background-color: #55a52c;
	color: white;
}
#sevenB {
	background-color: #2b5615;
	color: white;
}
#eightA {
	background-color: #d1f21a;
	color: white;
}
#eightB {
	background-color: #cc7633;
	color: white;
}

#greeting, #option, #findFloraHead {
	font-size: 52px;
	color: #172130;
	font-family: 'Pacifico', cursive;
	text-align: right;

}

#option {
	font-size: 28px;
}

footer {
	background-color: #172130;
	color: white;
}

.navbar-dropdown {
	background-color: #515254;
}

i {
	color: white;
}

.fullScreenItems {
	float: left;
}

#table {
	background-color: #515254;
	color:white;
	opacity: .9;
	border-radius: 10px;
}

#map {
	border-radius: 12px;
}

.select, .input {
	border-radius: 12px;
}

#myModal{
	z-index: 1;
}

article {
	border-radius: 10px;
	position: absolute;
	width: 30%;
	margin-left: 35%;
	height: 50%;
	margin-top: 10%;
}


img {
	align-content: right;
	border-radius: 10px;
 }

img {
	align-content: right;
	border-radius: 10px;
 }

 img:hover {
 	opacity: .7;
 }

.is-2 {
	text-align: right;
}

.navbar-item {
	border-radius: 10px;
}

.pinboard,
.suppliers {
	font-size: 20px;
}
.aa-input-container {
	display: inline-block;
	position: relative; }
  .aa-input-search {
	width: 300px;
	border: 1px solid rgba(228, 228, 228, 0.6);
	padding: 12px 28px 12px 12px;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none; }
	.aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
	  display: none; }
  .aa-input-icon {
	height: 16px;
	width: 16px;
	position: absolute;
	top: 50%;
	right: 16px;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
	fill: #e4e4e4; }
  .aa-dropdown-menu {
	background-color: #fff;
	border: 1px solid rgba(228, 228, 228, 0.6);
	min-width: 300px;
	margin-top: 10px;
	box-sizing: border-box; }
  .aa-suggestion {
	padding: 12px;
	cursor: pointer;
  }
  .aa-suggestion + .aa-suggestion {
	  border-top: 1px solid rgba(228, 228, 228, 0.6);
  }
	.aa-suggestion:hover, .aa-suggestion.aa-cursor {
	  background-color: rgba(241, 241, 241, 0.35); }