html { 
  background: url(startPageBackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#navbar {
	background-color: #515254;
	font-weight: bolder;
	padding: 5px; 
	border-radius: 8px;
}

.navbar-item {
	color: white;
	font-size: 16px;
}

#sixA {
	background-color: #3754ba; 
	color: white;
}
#sixB {
	background-color: #85c166;
	color: white;
}
#sevenA {
	background-color: #55a52c;
	color: white;
}
#sevenB {
	background-color: #2b5615;
	color: white;
}
#eightA {
	background-color: #d1f21a;
	color: white;
}
#eightB {
	background-color: #cc7633;
	color: white;
}

input {
	color: black;
}

#greeting, #option, #findFloraHead {
	font-size: 52px;
	color: #172130;
	font-family: 'Pacifico', cursive;
	text-align: right;

}

#option {
	font-size: 28px;
}

footer {
	background color: #172130;
	color: white;
}

.navbar-dropdown {
	background-color: #515254;
}

i {
	color: white;
}

.fullScreenItems {
	float: left;
}

#table {
	background-color: #515254;
	color:white;
	opacity: .9;
	border-radius: 10px;
}

#map {
	border-radius: 12px;
}

select, input {
	border-radius: 12px;
}

#myModal{
	z-index: 1;
}

article {
	border-radius: 10px;
	position: absolute;
	width: 30%;
	margin-left: 35%;
	height: 50%;
	margin-top: 10%;
}

/*
 * Table styles
 */
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
}

img {
	align-content: right;
	margin-right: -200px;
	border-radius: 10px;
 }

 img:hover {
 	opacity: .7;
 }

.is-2 {
	text-align: right;
}