html { 
  background: url(../images/startPageBackground.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#navbar {
	background-color: #515254;
	font-weight: bolder;
	padding: 5px; 
	border-radius: 8px;
}

.navbar-item {
	color: white;
	font-size: 16px;
}

#sixA {
	background-color: #3754ba; 
	color: white;
}
#sixB {
	background-color: #85c166;
	color: white;
}
#sevenA {
	background-color: #55a52c;
	color: white;
}
#sevenB {
	background-color: #2b5615;
	color: white;
}
#eightA {
	background-color: #d1f21a;
	color: white;
}
#eightB {
	background-color: #cc7633;
	color: white;
}

#greeting, #option, #findFloraHead {
	font-size: 52px;
	color: #172130;
	font-family: 'Pacifico', cursive;
	text-align: right;
}

#option {
	font-size: 28px;
}

footer {
	background-color: #172130;
	color: white;
}

.navbar-dropdown {
	background-color: #515254;
}

i {
	color: white;
}

.fullScreenItems {
	float: left;
}

#table {
	background-color: #515254;
	color:white;
	opacity: .9;
	border-radius: 10px;
}

#map {
	border-radius: 12px;
}

.select, .input {
	border-radius: 12px;
}

#myModal{
	z-index: 1;
}

article {
	border-radius: 10px;
	position: absolute;
	width: 30%;
	margin-left: 35%;
	height: 50%;
	margin-top: 10%;
}


img {
	align-content: right;
	border-radius: 10px;
 }

img {
	align-content: right;
	border-radius: 10px;
 }

 img:hover {
 	opacity: .7;
 }

.is-2 {
	text-align: right;
}

.navbar-item {
	border-radius: 10px;
}

.pinboard,
.suppliers {
	font-size: 20px;
}
.section {
	background: white;
}
h2, h3 {
	font-family: 'Pacifico', cursive;
}
.algolia-autocomplete {
  width: 50%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 50%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 50%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}